* {
    font-family: helvetica;
    
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
  

}

html {
    scroll-padding-top: 70px;
}

h1, h2, h3, h4, p {
    opacity: 0.9;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

/* the header*/

header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    z-index: 2;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#teacozy {
    height: 50px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: left-end;
   
}

#internallinks {
display: inline-flex;
justify-content: flex-end;
}

li {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 25px;

}



/*the body*/

main {
    padding-top: 70px;
    
}


/*mission section */

#fix {
    display: flex;
    justify-content: center;
}

#mission {
    
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*82dund*_ga*NTUwMzM5OTgwNy4xNjczMzg2MDg5*_ga_3LRZM6TM9L*MTY3NjMwMzQwOC4xMzUuMS4xNjc2MzA0MTQ0LjU3LjAuMA..");
    height: 700px;
    width: 1200px;
   
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    
    
}

#statement {
   padding: 25px;
   width: 100%
    
}

#statement h2 {
    margin-bottom: 25px;
}

/*tea of the month*/

#teamonth {
margin-top: 100px;
}

#teamonthtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#teamonthtitle h4 {
    margin: 25px;
}

#teas {
    width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teaimg {
    height: 200px;
    width: 300px;
    margin: 10px;
}

/*locations*/



#location {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*zte5fa*_ga*NTUwMzM5OTgwNy4xNjczMzg2MDg5*_ga_3LRZM6TM9L*MTY3NjMxMTUzMy4xMzYuMC4xNjc2MzExNTMzLjYwLjAuMA..");
    width: 1200px;
    height: 500px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.locationbox {
background-color: black;
width: 300px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: space-around;
margin: 0 20px;
opacity: 1;
}

#location h2 {
    background: none;
    position: absolute;
    top: 50px;
}

/*contact info*/

#info {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*footer*/

footer {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}






















